<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Deleted</title>
    </head>
    <body>
      <main>
        <div class="container">
          <div class="well">
            <h1>Deleted</h1>
            <a href='/'><button class='btn btn-info btn-block bottom-button'>Back to Top</button></a>
          </div>
        </div>
      </main>
    </body>
</html>
