<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Search Result</title>
    </head>
    <body>
      <main>
        <div class="container">
          <div class="well">
            <h1>Search Result</h1>
            <div class="panel">
              <div class='row'>
                {% for result in results%}
                  <div class="col-md-4 profile-panel">
                    </ul>
                      <li>Name: {{ result.getFullName() }} </li>
                      <img src="images/{{result.getImage()}}" class='profile' />
                      <ul>
                        <li>Phone: {{ result.getPhone()}}</li>
                        <li>Address: {{ result.getAddress()}}</li>
                      </ul>
                    <ul>
                  </div>
                {% endfor %}
              </div>

                <a href='/'>
                  <button class='btn btn-info btn-block bottom-button' >Back to Home</button>
                </a>
              </div>
            </div>
        </div>
      </main>
    </body>
</html>
