<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Your Address Book</title>
    </head>
    <header>
    </header>
    <body>
      <main>
        <h1>All Contact Lists</h1>

        {% for contact in contacts%}
            <li>Name: {{ contact.getFullName() }} </li>
            <img src="images/{{contact.getImage()}}" />
              <li>Phone: {{ contact.getPhone()}}</li>
              <li>Address: {{ contact.getAddress()}}</li>
            </ul>
          <ul>
        {% endfor %}

        <a href='/'>
        <button class='btn btn-info'>Back to Top</button>
        </a>
      </main>
    </body>
    <footer>
    </footer>
</html>
