<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Your Address Book</title>
    </head>
    <header>
    </header>
    <body>
      <main>
        <div class="container">
          <div class="well">
            <h1>All Contact Lists</h1>
            <div class="panel">
              <div class='row'>
                {% for contact in contacts%}
                  <div class="col-md-4 profile-panel">
                    <p><span class="name-display">Name:</span> {{ contact.getFullName() }}</p>
                    <img src="images/{{contact.getImage()}}" class='profile' />
                      <li>Phone: {{ contact.getPhone()}}</li>
                      <li>Address: {{ contact.getAddress()}}</li>
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>

            <a href='/'>
            <button class='btn btn-info btn-block bottom-button'>Back to Top</button>
            </a>
          </div>
        </div>
      </main>
    </body>
</html>
