<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Your Address Book</title>
    </head>
    <header>
    </header>
    <body>
      <main>
        <h1>GETALL</h1>
        {% for contact in list_of_contacts %}
          <ul>
            <li>{{contact.getFirstName}}</li>
            <li>{{contact.getLastName}}</li>
            <li>{{contact.getPhone}}</li>
            <li>{{contact.getAddress}}</li>
          </ul>
        {% endfor %}

        <a href='/'>
        <button class='btn btn-info'>Back to Top</button>
        </a>
      </main>
    </body>
    <footer>
    </footer>
</html>
