body {
  background-image: url('../images/background.jpg');
}

h1 {
  font-size: 6rem;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

#main-title {
  background-color: #99f7ce;
}

.bottom-button {
  margin-top: 3rem;
}

.well {
  padding: 19px;
  margin-top: 10%;
  margin-bottom: 20%;
  background-color: #fff9fe;
  opacity: 0.9;
}

.profile {
  display: block;
  height: 100px;
  width : auto;
  border-radius: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.button-style {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.row {
  margin-right: 3px;
  margin-left: 3px;
}

.required {
  color: red;
}

.col-md-4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.col-md-12 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-panel {
  height: 180px;
}

.name-display {
  font-weight: bold;
}

#search-bar {
  margin-top: 2rem;
  border-top: 1px solid lightgrey;
}

.radio label {
  margin-right: 2rem;
}
