body {
  background-image: url('../images/background.jpg');
}

h1 {
  color: red;
  text-align: center;
}

#main-title {
  background-color: #99f7ce;
}

.bottom-button {
  margin-top: 3rem;
}

.well {
  height: 930px;
  padding: 19px;
  margin-top: 10%;
  background-color: #fff9fe;
  opacity: 0.9;
}

.profile {
  height: 100px;
  width : auto;
  border-radius: 100%;
}

.button-style {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.row {
  margin-right: 3px;
  margin-left: 3px;
}

.required {
  color: red;
}

.col-md-4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.profile-panel {
  height: 180px;
}
